<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <div>SquareEightをご利用いただき、ありがとうございます。</div>
      <br />
      <% if @payouts_enabled %>
        <div>Stripeへの決済有効申請が承認されました。</div>
        <div>これにて商品販売機能、予約のクレジットカード決済受付機能、月額サブスクリプションなどが有効化されました。</div>
      <% else %>
        <div>Stripeへの決済有効申請がまだ完了しておりません。</div>
        <div>お手数ですが追加必要項目を確認の上再度申請お願いいたします。</div>
        <div><%= ENV["FRONTEND_URL"] + "/admin/sales_transfer" %></div>
      <% end %>
    </div>
    <br />
    <%= simple_format(h("
      ---
      ■  SquareEight
      ※このメールは送信専用メールアドレスからシステムで自動的に配信されています。
      ※ご返信いただいてもお応えいたしかねますのでご了承ください。
    ")) %>
  </body>
</html>
