<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><%= @payment_request.customer.full_name %>様</div>
    <div><%= @payment_request.purchase_product_name %>のお支払いが完了しました</div>
    <hr />
    <div>￥<%= @payment_request.amount.to_s %></div>
    <hr/>
    <div>Copyright SquareEight</div>
  </body>
</html>
