<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class='new-line' style="white-space:pre-wrap; word-wrap:break-word;" ><%= @content %></div>
  </body>
</html>
