
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>新規SquareEightアカウント登録を受け付けました。</p>
      <div>ビジネス名称: <%= @business_name %></div>
      <div>メールアドレス: <%= @email %></div>
  </body>
</html>
