<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>この度はご利用いただきありがとうございます。</div>
    <div>下記内容にて、お客様のご予約を承りました。</div>
    <hr />
    <div>[お申込内容]</div>
    <div><%= @reservation_title %></div>
    <div>予約時間: <%= @reservation_datetime %></div>
    <div>お支払い方法: <%= @payment_method %></div>
    <div>予約人数: <%= @number_of_people %></div>
    <hr/>
    <div>Copyright SquareEight</div>
  </body>
</html>
