<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div>SquareEightをご利用いただき、ありがとうございます。</div>
      <br />
      <p>パスワード再設定を受け付けました。</p>
      <br />
      <p>以下のページからパスワードをリセットしてください</p>
    <p>
      <%= link_to @url, @url %>
    </p>
    <br/>
    <%= simple_format(h("
      ---
      ■  SquareEight
      ※このメールは送信専用メールアドレスからシステムで自動的に配信されています。
      ※ご返信いただいてもお応えいたしかねますのでご了承ください。
    ")) %>
  </body>
</html>
