<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="mt10">SquareEightをご利用いただき、ありがとうございます。</div>
    <div class="mt10">パスワード再設定を受け付けました。</div>
    <div class="mt10">以下のページからパスワードをリセットしてください</div>
    <div class="mt10">
      <%= link_to @url, @url %>
    </div>
    <%= simple_format(h("
      ---
      ■  SquareEight
      ※このメールは送信専用メールアドレスからシステムで自動的に配信されています。
      ※ご返信いただいてもお応えいたしかねますのでご了承ください。
    ")) %>
  </body>
</html>
<style>
  .mt10 {
    margin-top: 10px;
  }
</style>
