<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div>SquareEightに仮登録しました。</div>
      <div class="mt10"><%= @verification_code %></div>
      <div class="mt10">以下のページから上記の検証コードを入力してユーザ登録を完了してください。</p>
      <div class="mt10">
        <%= link_to @url, @url %>
      </div>
      <div class="mt10">※1日以上経過した場合は下記URLから再度メールアドレスをご登録ください<div>
      <%= simple_format(h("
        ---
        ■  SquareEight
        ※このメールは送信専用メールアドレスからシステムで自動的に配信されています。
        ※ご返信いただいてもお応えいたしかねますのでご了承ください。
      ")) %>
  </body>
</html>
<style>
  .mt10 {
    margin-top: 10px;
  }
</style>
