<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <div>SquareEightをご利用いただき、ありがとうございます。</div>
      <div style="margin-top: 10px;">パスワード再設定を受け付けました。</div>
      <div style="margin-top: 10px;">以下のページからパスワードをリセットしてください</div>
      <div style="margin-top: 10px;">
        <%= link_to @url, @url %>
      </div>
    <%= simple_format(h("
      ---
      ■  SquareEight
      ※このメールは送信専用メールアドレスからシステムで自動的に配信されています。
      ※ご返信いただいてもお応えいたしかねますのでご了承ください。
    ")) %>
  </body>
</html>
