.calendar table {
  table-layout: fixed;
  width: 100%;
}

.calendar th {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
.calendar td {
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 50px;
}
