.company_overview_text {
  font-size: 40px;
  font-weight: bold;
}

.strong_text {
  font-size: 20px;
  font-weight: bold;
}

.content_text {
  font-size: 20px;
}

.service_top_image {
  max-width: 100%;
}

.service_description {
  font-size: 20px;
  margin-bottom: 20px;
}
