html,
body {
  padding: 0;
  margin: 0;
  /* これ効かない？？ */
  font-family: 'Hiragino Sans';
}

.system-font-family {
  font-family: 'Hiragino Sans';
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-100 {
  font-size: 100px;
}

.font-size-50 {
  font-size: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px; 
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

.line-forest-green {
  color: #06C755;
}

.link-text {
  color: blue;
  text-decoration: underline;
}

.none-under-decoration {
  text-decoration:none;
}

.bg-lightgreen {
  background-color: #F3FDDC;
}

.bg-silver {
  background-color: silver;
}

.bg-darkblue {
  background-color:	#00008B;
}

.bg-gray {
  background-color: #E7EDF3;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

.list-group-hover:hover {
  background-color: #f5f5f5;
}

.new-line {
  white-space: pre-wrap;
}

.border-solid {
  border: solid;
}

.padding-20 {
  padding: 20px;
}

.dropdown-toggle::after {
  display: none !important;
 }

.bg-lightgray {
  background-color: lightgray;
}

.orange_highlighter {
  background: linear-gradient(transparent 70%, #ff7689 50%);
}
