.serviceDescription {
  font-size: 200%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.planCard {
  height: 400px;
}

@media screen and (max-width: 480px) {
	/* スマホ用 */
  .headline {
    font-size: 300%;
  }
  .featureCard {
    height: 600px;
  }
  .features_header_text {
    font-size: 150%;
  }
}

/* タブレット用 */
@media screen and (min-width: 481px) {
  .headline {
    font-size: 500%;
  }
  .featureCard {
    height: 900px;
    margin-bottom: 20px;;
  }
  .features_header_text {
    font-size: 300%;
  }
}

@media screen and (min-width: 960px) {
	/* （PC用） */
  .headline {
    font-size: 500%;
  }
  .features_header_text {
    font-size: 150%;
  }
  .featureCard {
    height: 600px;
  }
}

