.headline_service_name {
  font-size: 80px;
}

.service_description {
  font-size: 200%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cover_img {
  max-width: 100%;
  filter: hue-rotate(180deg);
  filter: invert(10%);
  /* filter: sepia(70%); */
  filter: brightness(30%);
}

.cover_img_parent {
  position: relative;
}

.cover_img_parent .headline_service_name {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  background: linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cover_img_parent .service_description {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  top: 60%;
  left: 50%;
  background: linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pc_woman {
  max-width: 100%;
  width: 300px;
}

.sp_woman {
  max-width: 100%;
  width: 300px;
}

.features_header_text {
  font-size: 150%;
}

.plan_table_text {
  font-size: 20px;
}

.price_text {
  font-size: 30px;
}

.planCard {
  height: 350px;
}

.features_description_text {
  font-size: 100%;
  margin-top: 20px;
  text-align: left;
}

.plan_price {
  font-size: 150%;
}
.plan_description {
  font-size: 100%;
  text-align: left;
}

.section_headline {
  font-size: 35px;
  background: linear-gradient(transparent 70%, #B2384E 50%);
}

.section_description {
  font-size: 25px;
  background: linear-gradient(transparent 70%, #5BA5BD 50%);
}

.function_content {
  border-radius: 5px;
  border: 1px solid;
  border-top: 12px solid #5BA5BD;
  padding: 20px 12px;
  font-size: 20px;
  margin-bottom: 10px;
}

.price_table table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 490px;
}

.price_table table tr:last-child {
  border-bottom:solid 1px #ddd;
}

.price_table table th {
  text-align: center;
  padding: 10px 0;
  border-right:solid 1px #ddd;
  border-left:solid 1px #ddd;
  width: 155px;
}

.price_table table th:nth-child(1) {
  background-color:#dddddd;
}

.price_table table th:nth-child(3) {
  background-color:#f5b932;
  color: white;
}

.price_table table tr:nth-child(2) td {
  font-size: 30px;
}

.plan_table {
	width:100%;
	border-collapse: separate;
	border-radius: 10px;
  border: 1px solid;
}

.plan_table th {
  background-color: #5BA5BD;
}

.enterprise_description {
  font-size: 20px;
  margin-top: 20px;
}

.enter_prise_card_content {
  font-size: 18px;
}

.table_scroll {
  overflow: scroll;
}

table .plan_table_parent {
  width: 100%;
  table-layout: fixed;
}

.plan_table_th {
  font-size: 15px;
}

img.usecase_img {
  width: 300px;
  margin-bottom: 20px;
}

.usecase_text {
  text-align: center;
  font-size: 15px;
}

img.demo_page_img {
  border: 1px #000000 solid;
  width: 300px;
  height: 500px;
  object-fit: cover;
  object-position: 0 0;
}

img.customer_support_img {
  border: 1px #000000 solid;
  width: 600px;
  height: 400px;
  object-fit: cover;
  object-position: 0 0;
}

/* タブレット用 */
@media screen and (min-width : 719px) and (max-width : 1200px) {
  .cover_img_parent .headline_service_name {
    top: 20%;
    left: 50%;
		font-size: 75px;
	}

  .cover_img_parent .description {
    top: 60%;
    left: 50%;
    font-size: 30px;
  }

  .featureCard {
    height: 800px;
    margin-bottom: 20px;
  }

  .features_header_text {
    font-size: 25px;
  }

  .planCard {
    height: 350px;
    margin-bottom: 20px;
  }

  .features_description_text {
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
  }

  .function_content {
    font-size: 15px;
  }

  img.customer_support_img {
    border: 1px #000000 solid;
    width: 600px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width : 320px) and (max-width: 479px) {
	/* スマホ用 */
  .cover_img_parent .headline_service_name {
    top: 30%;
    left: 50%;
		font-size: 28px;
	}

  .cover_img_parent .service_description {
    top: 70%;
    left: 50%;
    font-size: 15px;
  }

  .section_headline {
    font-size: 20px;
  }

  .section_description {
    font-size: 17px;
  }

  .function_content {
    font-size: 15px;
  }


  .plan_table_text {
    font-size: 15px;
  }

  .price_text {
    font-size: 20px;
  }

  .features_header_text {
    font-size: 150%;
  }

  .planCard {
    height: 480px;
    margin-bottom: 20px;
  }

  .plan_price {
    font-size: 180%;
  }

  .plan_description {
    font-size: 150%;
    text-align: left;
  }

  .enterprise_description {
    font-size: 15px;
  }

  img.customer_support_img {
    border: 1px #000000 solid;
    width: 300px;
    margin-bottom: 20px;
  }

  .pc_woman {
    display:none;
  }

  .sp_woman {
    display:none;
  }

  img.demo_page_img {
    height: 400px;
  }
}

@media screen and (max-width: 320px) {
	/* スマホ用 */
  .cover_img_parent .headline_service_name {
    top: 30%;
    left: 50%;
		font-size: 18px;
	}

  .cover_img_parent .service_description {
    top: 70%;
    left: 50%;
    font-size: 12px;
  }
}
