.serviceDescription {
  font-size: 200%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
	/* スマホ用 */
  .headline {
    font-size: 300%;
  }
  .featureCard {
    height: 45  0px;
    margin-bottom: 20px;
  }
  .features_header_text {
    font-size: 150%;
  }
  .planCard {
    height: 400px;
    margin-bottom: 20px;
  }
  .plan_price {
    font-size: 180%;
  }
  .plan_description {
    font-size: 150%;
    text-align: left;
  }
}

/* タブレット用 */
@media screen and (min-width: 481px) {
  .headline {
    font-size: 500%;
  }
  .featureCard {
    height: 800px;
    margin-bottom: 20px;
  }
  .features_header_text {
    font-size: 300%;
  }
  .planCard {
    height: 300px;
    margin-bottom: 20px;
  }
  .features_description_text {
    margin-top: 20px;
    font-size: 150%;
    text-align: left;
  }
  .plan_price {
    font-size: 150%;
  }
  .plan_description {
    font-size: 150%;
    text-align: left;
  }
}

@media screen and (min-width: 960px) {
	/* （PC用） */
  .headline {
    font-size: 500%;
  }
  .features_header_text {
    font-size: 150%;
  }
  .featureCard {
    height: 450px;
  }
  .planCard {
    height: 300px;
  }
  .features_description_text {
    font-size: 100%;
    margin-top: 20px;
    text-align: left;
  }
  .plan_price {
    font-size: 150%;
  }
  .plan_description {
    font-size: 100%;
    text-align: left;
  }
}

