.title_text {
  font-size: 20px;
  margin-bottom: 10px;
}

.description_text {
  font-size: 15px;
  border-left: 4px solid #B2384E;
  padding: 4px 12px;
}

.img_parent {
  position: relative;
}

.img_parent .headline {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  top: 30%;
  left: 50%;
  font-size: 30px;
}

.img_parent .description {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  top: 60%;
  left: 50%;
  font-size: 20px;
}

.section_headline {
  font-size: 25px;
  background: linear-gradient(transparent 70%, #5BA5BD 50%);
}

.bg_gray {
  background: #f2f2f2b4;
}

.shop_name_text_parent {
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.shop_name_text {
  background: linear-gradient(transparent 70%, #5BA5BD 50%);
}

/* タブレット */
@media screen and (min-width : 719px) and (max-width : 1200px) {
	.img_parent .headline {
    top: 20%;
    left: 50%;
		font-size: 50px;
	}

  .img_parent .description {
    top: 60%;
    left: 50%;
    font-size: 30px;
  }
}

/* スマホ */
@media screen and (max-width: 479px) {
	.img_parent .headline {
    top: 25%;
    left: 50%;
		font-size: 20px;
	}

  .img_parent .description {
    top: 60%;
    left: 50%;
    font-size: 15px;
  }
}
