.title_text {
  font-size: 30px;
  margin-bottom: 10px;
}

.description_text {
  font-size: 25px;
}

.img_parent {
  position: relative;
}

.img_parent .headline {
  position: absolute;
  color: #ffffff;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

/* ワイドスクリーン */
@media only screen and (min-width: 1500px) {
	.img_parent .headline {
		font-size: 100px;
	}
}

/* タブレット */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.img_parent .headline {
		font-size: 60px;
	}
}

/* スマホ */
@media only screen and (max-width: 479px) {
	.img_parent .headline {
		font-size: 30px;
	}
}
