.title_text {
  font-size: 30px;
  margin-bottom: 10px;
}

.description_text {
  font-size: 25px;
}

.img_parent {
  position: relative;
}

.img_parent .headline {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

.img_parent .description {
  position: absolute;
  color: #ffffff;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

/* ワイドスクリーン */
@media only screen and (min-width: 1500px) {
	.img_parent .headline {
    top: 40%;
    left: 50%;
		font-size: 80px;
	}

  .img_parent .description {
    top: 60%;
    left: 50%;
    font-size: 60px;
  }
}

/* タブレット */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.img_parent .headline {
    top: 40%;
    left: 50%;
		font-size: 50px;
	}

  .img_parent .description {
    top: 60%;
    left: 50%;
    font-size: 30px;
  }
}

/* スマホ */
@media only screen and (max-width: 479px) {
	.img_parent .headline {
    top: 30%;
    left: 50%;
		font-size: 20px;
	}

  .img_parent .description {
    top: 60%;
    left: 50%;
    font-size: 10px;
  }
}
