<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <%= @parsed_content.each do |content| %>
        <div><%= content["text"] %></div>
        <img
          className='d-block w-100 mt30'
          src="<%= content["image"] %>"
          alt='image'
        />
      <% end %>
    </div>
  </body>
</html>
<style>
  .mt30 {
    margin-top: 30px;
  }
</style>
