<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <% if @template_type == 'ImageWithText' %>
        <% @parsed_content.each do |content| %>
          <img
            style='margin-top: 30px;width: 500px;'
            src="<%= content["image"] %>"
            alt='image'
          />
          <div><%= content["text"] %></div>
        <% end %>
      <% elsif @template_type == 'ImageWithTextList' %>
      <% end %>
    </div>
  </body>
</html>
